<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">ФИО: {{student.lastName + ' '}} {{student.name + ' '}} {{student.patronymic}} </h5>
        <p class="card-text">Телефон: {{student.phone}}</p>
        <p class="card-text">Email: {{student.email}}</p>
        <p class="card-text">Дата рождения: {{student.dateOfBirth}}</p>
        <p class="card-text">group: {{student.group}}</p>
        <p class="card-text">Направление подготовки: {{student.directionOfTraining}}</p>
        <br>
        <button (click)="DeleteStudent(student)" class="btn btn-danger" style="margin-right: 10px;">Delete</button>
        <button (click)="OpenModal(template)" class="btn btn-outline-dark">
        Change data
        </button>
    </div>
</div>
    
<ng-template #template>
    
    <div class="modal-header">
        <h4 class="modal-title pull-left">ID: {{student.id}} </h4>
        <hr>
        <button class="btn btn-success" aria-label="Close" (click)="modalRef.hide()">Закрыть</button>
    </div>
    
    <div class="modal-body">
        <form [formGroup]="StudentForm">
        
            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentLastName">Фамилия:</label>
                </div>
                
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Фамилия" value="{{student.lastName}}" id="StudentLastName" #inputLastName>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentName">Имя:</label>
                </div>
                
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="name" placeholder="Категория товара" value="{{student.name}}" id="StudentName" #inputName>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentPatronymic">Отчество:</label>
                </div>
                
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="patronymic" placeholder="Вес товара" value="{{student.patronymic}}" id="StudentPatronymic" #inputPatronymic>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentPhone">Телефон:</label>
                </div>
                
                <div class="col-9">
                    <input type="number" class="form-control" formControlName="phone" placeholder="Цена" value="{{student.phone}}" id="StudentPhone" #inputPhone>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentEmail">Email:</label>
                </div>
                
                <div class="col-9">
                    <input type="email" class="form-control" formControlName="email" placeholder="Количество" value="{{student.email}}" id="StudentEmail" #inputEmail>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentDateOfBirth">Дата рождения:</label>
                </div>
                
                <div class="col-9">
                    <input type="email" class="form-control" formControlName="dateOfBirth" placeholder="Количество" value="{{student.dateOfBirth}}" id="StudentDateOfBirth" #inputDateOfBirth>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentGroup">Группа:</label>
                </div>
                
                <div class="col-9">
                    <input type="email" class="form-control" formControlName="group" placeholder="Количество" value="{{student.group}}" id="StudentGroup" #inputGroup>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label for="StudentDirectionOfTraining">Направление:</label>
                </div>
                
                <div class="col-9">
                    <input type="email" class="form-control" formControlName="directionOfTraining" placeholder="Количество" value="{{student.directionOfTraining}}" id="StudentDirectionOfTraining" #inputDirectionOfTraining>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-12">
                    <button [disabled]="StudentForm.invalid" class="btn btn-primary" aria-label="Close" (click)="EditStudent(student.id, inputLastName.value, inputName.value, inputPatronymic.value, inputPhone.value, inputEmail.value, inputDateOfBirth.value, inputGroup.value, inputDirectionOfTraining.value)">Изменить</button>
                </div>
            </div>
        </form>
    </div>
    
</ng-template>
