<div class="row mt-3">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Фильтр по группам</span>
            </div>
            <input type="text" class="form-control" (change)="GroupFilter(group.value)"  placeholder="Введите группу" aria-label="Username" aria-describedby="basic-addon1" #group>
          </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Фильтр по направлению</span>
            </div>
            <input type="text" class="form-control" (change)="DirectionOfTrainingFilter(directionOfTraining.value)"  placeholder="Введите направление" aria-label="Username" aria-describedby="basic-addon1" #directionOfTraining>
          </div>
    </div>

</div>
